[Unit]
Description=Telegram Bot Gorbushka
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/root/bot
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
